<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%=image_path"background.jpg"%>');">
  <div class="banner-content">

		<h1 class="text-center">

			<%= @product.name %>
		</h1>

		<p>
			<%= @product.tagline%>

		<span class="label label-default">
			<%= @product.category %>
		</span>
		
		</p>


		<p class="text-center">
			
			<%= link_to "Editer", edit_product_path(@product), class: "btn btn-warning" %>
			<%= link_to "Supprimer", product_path(@product), method: :Delete, class: "btn btn-danger" %>
			<%= link_to "Revenir à la liste", products_path, class: "btn btn-primary" %>
		</p>
	</div>
</div>			